<!DOCTYPE html>
<html>
  <head>
    <title>DogProfile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <div id="layout">
      <header class="d-flex">
        <h1><%= link_to 'Dog Profile Demo', root_path %></h1>
        <div class="actions">
          <% if current_user %>
            <%= link_to 'Add your dog', new_dog_path, class: "btn btn-primary" %>
            <%= link_to 'Sign out',  destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
          <% else %>
            <%= link_to 'Sign in',  new_user_session_path, class: "btn btn-primary" %>
            <%= link_to 'Sign up',  new_user_registration_path, class: "btn btn-primary" %>
          <% end %>
        </div>
      </header>
      <div id="main">
        <div class="notifications">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
        <%= yield %>
      </div>
      <div class="footer"></div>
    </div>

  </body>
</html>
